body{
  width: 70%;
  margin: auto;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
}
.header img{
  width: 50px;
  margin-right: 20px;
}
h1{
  font-size: 20px;
  font-weight: bold;
}
h2,h3,p{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.type{
  margin-bottom: 5px;
}

.box{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  height: 125px;
}
.box:not(:last-child){
  border-bottom: 1px solid  gainsboro;

}
.col1,
.col3{
  display: flex;
  align-items: center;
}
.col1 div,
.durer{
  margin-right: 20px;
}
li{
  color: palevioletred;
  list-style-type: disc;
  font-weight: bold;
}

